<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat-mall-list.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat-search.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat.css">
    <style type="text/css">
        .wechat-content{
            width: 100%;
            height: auto;
            margin-top: 50px;
            height:calc(100vh);
            overflow-y: scroll;
            overflow-x: hidden;
        }
        header .icon-filter{
            position: absolute;
            right: 15px;
            top: 0;
            color: #444;
            line-height: 50px;
        }
        .wechat-content-address{
            width: 70%;
            float: left;
        }
        .wechat-content-type{
            width: 30%;
            font-size: 10px;
            text-align: right;
            float: left;
        }
        .choose-content{
            width: 94%;
            padding: 3%;
            background: #fff;
        }
        .choose-content .head{
            width: 100%;
            height: 30px;
            font-size: 14px;
            color: #666;
            border-bottom: 1px solid #f4f4f4;
        }
        .choose-content .fntype{
            width: 100%;
            height: 100px;
            margin-top: 8px;
        }
        .choose-content .fntype div{
            width: 25%;
            height: 46px;
            line-height: 46px;
            float: left;
            text-align: center;
        }
        .choose-content .fntype div span{
            padding: 8px 15px 8px 15px;
            border: 1px solid #aaa;
            border-radius: 5px;
        }

        .weui-panel{
        }

    </style>
</head>


<body>
<header class="wechat-header">
    <a class="icon-back"><i class="fa fa-chevron-left"></i></a>
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input"value="<%=searchTitle%>" id="searchTitle" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span><%=(searchTitle == null || searchTitle == '')?'搜索':searchTitle%></span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <a class="icon-filter">筛选<i class="fa fa-filter"></i></a>
</header>

<div class="wechat-content" style="margin-top: 0px;">
    <div class="weui-pull-to-refresh__layer">
        <div class='weui-pull-to-refresh__arrow'></div>
        <div class='weui-pull-to-refresh__preloader'></div>
        <div class="down">下拉刷新</div>
        <div class="up">释放刷新</div>
        <div class="refresh">正在刷新</div>
    </div>

    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd" id="furnitureList">
            <!-- 图文列表1 -->
            <!--<div class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="http://pic.58pic.com/58pic/13/66/22/58x58PICXTV_1024.jpg">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">渝中区解放西路家具搬迁家具搬迁，便宜渝中区解放西路家具搬迁家具搬迁，便渝中区解放西路家具搬迁家具搬迁，便出，便宜出售</h4>
                    <div class="wechat-content-option" style="">
                        <div class="wechat-content-price">¥500.00</div>
                        <div class="wechat-content-btnGroup">
                            <button class="bd-txt-color"><i class="fa fa-phone"></i> 邹朝亮</button>
                        </div>
                    </div>
                    <p class="wechat-content-address" style=""><i class="fa fa-map-marker"></i> 重庆市渝中区解放西路66号16栋重庆市渝中区解放西路66号16栋</p>
                </div>
            </div>-->

        </div>
    </div>

    <div id="loadMorePanel" class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>

    <div id="noDataPanel" class="weui-loadmore weui-loadmore_line" style="display: none;">
        <span class="weui-loadmore__tips">暂无数据</span>
    </div>
</div>

<div id="searchConditPanel" class="weui-popup__container popup-bottom">
    <input type="hidden" id="searchType" value="<%=fnType%>">
    <input type="hidden" id="searchIsNew" value="<%=isNew%>">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="choose-content" style="background: #fff;">
            <div class="head">家具类型</div>
            <div id="fnType" class="fntype">
                <div data-id=""><span class="<%=(fnType == null || fnType == '')?'bd-txt-color':''%> ">全部</span></div>
                <% fnTypes.forEach(function (value) { %>
                <div data-id="<%=value.id%>"><span class="<%=(fnType ==value.id)?'bd-txt-color':''%> "><%=value.name.replace("家具",'')%></span></div>
                <% }) %>
            </div>
            <div class="head">二手家具</div>
            <div id="isNew" class="fntype" style="height: 50px">
                <div data-val=""><span class="<%=(isNew == null || isNew == '')?'bd-txt-color':''%> ">全部</span></div>
                <div data-val="1"><span class="<%=(isNew == 1 || isNew == '1')?'bd-txt-color':''%> " >全新</span></div>
                <div data-val="2"><span class="<%=(isNew == 2 || isNew == '2')?'bd-txt-color':''%> ">二手</span></div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="furnitureListTemplate">
    {{each list as furniture}}
    <div class="weui-media-box weui-media-box_appmsg" >
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="{{furniture.headImg}}" onclick="location.href='/wechat/user/furniture/detail?id={{furniture.id}}'">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title" onclick="location.href='/wechat/user/furniture/detail?id={{furniture.id}}'">{{furniture.title}}
                <span class="title-label" style="border: 1px solid #FFB830;color:#FFAB33; background: #FFF8E5;">{{furniture.isNew == '1'?'全新':'二手'}}</span>
                <span class="title-label" style="border: 1px solid #FF6266;color:#FF6266; background: #FFE8E9;">{{furniture.typeName}}</span>
            </h4>
            <div class="wechat-content-option" style="">
                <div class="wechat-content-price">¥{{furniture.price}}</div>
                <div class="wechat-content-btnGroup">
                    <a href="tel:{{furniture.phone}}"><button class="bd-txt-color"><i class="fa fa-phone"></i> 立即联系</button></a>
                    <!--<button class="bd-txt-color"><i class="fa fa-archive"></i> 店铺</button>-->
                </div>
            </div>
            <div class="wechat-content-address" style=""><i class="fa fa-map-marker"></i>{{furniture.merchantName}}</div>
            <!--<div class="wechat-content-type textcolor" style="">{{furniture.isNew == '1'?'全新家具':'二手家具'}}</div>-->
        </div>
    </div>
    {{/each}}
</script>
</body>
<%- include('../public/public_js') %>
<script type="text/javascript" src="/static/javascripts/template.js"></script>
<script>

    $(".icon-filter").on("click",function(){
        $("#searchConditPanel").popup()
    });

    var page=1;
    $(document).ready(function () {
        init();

        //家具类型搜索条件
        $("#fnType div").on("click",function () {
            $("#fnType div span").removeAttr("class");
            $(this).find("span").attr("class","bd-txt-color");
            $("#searchType").val($(this).data("id"));
            init();
        })

        //二手家具搜索条件
        $("#isNew div").on("click",function () {
            $("#isNew div span").removeAttr("class");
            $(this).find("span").attr("class","bd-txt-color");
            $("#searchIsNew").val($(this).data("val"));
             init();
        })
    });

    function init(){
        page=1;
        loadData(function(html,pages){
            $("#furnitureList").html(html);
            if(pages > 1){
                infinite();
            }
            else{
                showNoDataPanel();
            }
        });
    }

    $("#searchTitle").on('keypress',function(e) {
            var keycode = e.keyCode;
            var searchName = $(this).val();
            if(keycode=='13') {
                e.preventDefault();
                init();
            }
        });


    function loadData(handle){
        let fnTypes = JSON.parse('<%-JSON.stringify(fnTypes)%>');
        noAuthBaseAjax({
            url:"/wechat/user/furniture/frontPage",
            type:"get",
            data:{
                page:page,
                searchParam:$("#searchTitle").val(),
                searchType:$("#searchType").val(),
                searchIsNew:$("#searchIsNew").val()
            },
            success:function(data){
                data.result.list.forEach(furniture=>{
                    fnTypes.forEach(fnType=>{
                        if(fnType.id == furniture.typeId){
                            furniture.typeName = fnType.name.replace("家具",'');
                        }
                    })
                });
                var html = template("furnitureListTemplate",data.result)
                handle(html,data.result.pages);
                if(page < data.result.pages){
                    page ++ ;
                }

            },
        })
    }


    $(".wechat-content").pullToRefresh(function() {
        page = 1;
        loadData(function(html,pages){
            $("#furnitureList").html(html);
            $(".wechat-content").pullToRefreshDone();
            if(pages > 1){
                infinite();
                showLoadMorePanel();
            }
            else{
                showNoDataPanel();
            }

        });
    });

    var isLoading = false;
    function infinite(){
        $(".wechat-content").infinite().on("infinite", function() {
            if(isLoading) return;
            isLoading = true;
            loadData(function(html,pages){

                $("#furnitureList").append(html);
                if(page >= pages){
                    $(".wechat-content").destroyInfinite();
                    showNoDataPanel();
                }
                isLoading = false;
            });

        });;
    }

    function showLoadMorePanel(){
        $("#loadMorePanel").css("display", "block");
        $("#noDataPanel").css("display", "none");
    }

    function showNoDataPanel(){
        $("#loadMorePanel").css("display", "none");
        $("#noDataPanel").css("display", "block");
    }


</script>
</html>