<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat.css">
    <style type="text/css">
        .weui-uploader__files img {
            width: 100%;
            height: 100%
        }
        .weui-uploader__files li{
            border: 1px solid #ddd;
        }
        .weui-uploader__files li.title{
            border: 1px solid #1AAD19;
        }
    </style>
</head>


<body>

<header class="wechat-header">
    <% if(isFromMenu != 'true'){%>
    <a class="icon-back"><i class="fa fa-chevron-left"></i></a>
    <%} %>

    <h1>家具发布</h1>
</header>

<div class="wechat-content">
    <form id="form" action="/wechat/user/recycle/saveOrUpdate" method="post">
        <input type="hidden" name="id" value="<%=recycle.id%>">
        <input type="hidden" id="headImg" name="headImg" value="<%=recycle.headImg%>">
        <input type="hidden" id="userId" name="userId" value="<%=recycle.userId%>">
        <div class="weui-cells__title">家具信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">发布标题</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="title" name="title" type="text" value="<%=recycle.title%>" placeholder="请输入标题" />
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">家具分类</label></div>
                <div class="weui-cell__bd">
                    <input id="furnitureType" name="typeId" type="hidden" value="<%=recycle.typeId%>"  />
                    <input id="furnitureTypeName" class="weui-input" data-values="<%=recycle.typeId%>" readonly type="text" placeholder="请选择家具类型" />
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">回收价格</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="price" name="price" type="number" value="<%=recycle.price%>" placeholder="请输入价格" />
                </div>
            </div>

        </div>

        <div class="weui-cells__title">家具介绍</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea id="description" name="detailInfo" class="weui-textarea" placeholder="请输入简要介绍" rows="3"><%=recycle.detailInfo%></textarea>
                </div>
            </div>
        </div>

        <!-- 图片上传 -->
        <div class="weui-cells__title">图片上传（不设置则默认第一张为标题图）</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles">
                                <!--<li class="weui-uploader__file">
                                    <img src="http://img.taopic.com/uploads/allimg/120727/201995-120HG1030762.jpg" />
                                </li>-->
                                <% recycle.fnImgs.forEach(function(img){%>
                                    <li class="weui-uploader__file <%=img.url == recycle.headImg?'title':''%>">
                                        <img src="<%=img.url%>" />
                                        <input type="hidden" name="furnitureImg" value="<%=img.url%>">
                                    </li>
                                <%}) %>
                            </ul>
                            <div class="weui-uploader__input-box">
                                <div id="addImg" class="weui-uploader__input"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells__title" onclick="chooseImg()">联系人信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="contact" name="contact" type="text" value="<%=recycle.contact%>" placeholder="请输入姓名" />
                </div>
            </div>

            <!--<div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">性别</label></div>
                <div class="weui-cell__bd">
                    <input id="gender" class="weui-input" type="text" placeholder="请选择性别" />
                </div>
            </div>-->

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="phone" name="phone" type="number" value="<%=recycle.phone%>" placeholder="请输入联系电话" />
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">联系地址</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="address" name="address" type="text" value="<%=recycle.address%>" placeholder="请输入联系地址" />
                </div>
            </div>

        </div>

        <div class="weui-btn-area">
            <a class="weui-btn btncolor" href="javascript:" id="showTooltips">确定</a>
        </div>

        <div id="loadingToast" style="display:none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast" style="visibility: visible;opacity: 1">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">图片上传中...</p>
            </div>
        </div>

    </form>
</div>



</body>
<%- include('../public/public_js') %>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://unpkg.com/qiniu-js@2.1.2/dist/qiniu.min.js"></script>
<script type="text/javascript" src="//unpkg.com/crypto-js/crypto-js.js"></script>
<script>


    var accessToken;
    $(document).ready(function () {
        var userInfo = getGlobalAttribute("userInfo_cqjj");
        if(isEmpty(userInfo) || JSON.stringify(userInfo) == '{}'){
            userInfo = '<%- (typeof(userInfo) == 'undefined' || userInfo == null)?'':JSON.stringify(userInfo)%>';
            if(!isEmpty(userInfo) && userInfo != '{}'){
                setGlobalAttribute("userInfo_cqjj",JSON.parse(userInfo));
            }
        }

        initWechatConfig("<%=basePath%>","<%-wxconfigUrl%>",function(token){
            accessToken = token;
        })
        var userInfo = getGlobalAttribute("userInfo_cqjj");
        $("#userId").val(userInfo.id)
        initFnType();
    });


    //微信图片上传到七牛
    wx.ready(function() {

        var $loadingToast = $("#loadingToast")
        $("#addImg").on("click",function(){

            //uploadToQiniu();
            wx.chooseImage({
                 count: 5, // 默认9
                 sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                 sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                 success: function (res) {
                     var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                     imgUpload(localIds);
                 }
             });
        });


        var imgUpload = function(localIds){
            var imgs = $("#uploaderFiles").children().length
            $loadingToast.fadeIn(100)
            var localId = localIds.shift();
            wx.uploadImage({
                localId: localId, // 需要上传的图片的本地ID，由chooseImage接口获得
                isShowProgressTips: 0, // 默认为1，显示进度提示
                success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    if(imgs < 5){
                        uploadToQiniu(serverId,function () {
                            if (localIds.length > 0) {
                                imgUpload(localIds);
                            }
                            else{
                                $loadingToast.fadeOut(100)
                            }
                        });
                    }
                    else{
                        $loadingToast.fadeOut(100)
                    }
                }
            });
        }
        var uploadToQiniu = function(serverId,success){
            $.ajax({
                url:"/qiniu/fetch?accessToken="+accessToken+"&serverId="+serverId,
                type:"get",
                success:function(data){
                    var imgPath = getQiniuHost()+data.key
                    var str = "";
                    var childrens = $("#uploaderFiles").children().length
                    if(childrens <=0 ){
                        $("#headImg").val(imgPath);
                        str += '<li class="weui-uploader__file title" data-imgPath="'+imgPath+'">'
                    }
                    else{
                        str += '<li class="weui-uploader__file" data-imgPath="'+imgPath+'">'
                    }

                    str += '<img src="'+imgPath+'" />';
                    str += '<input type="hidden" name="furnitureImg" value="'+imgPath+'">';
                    str += '</li>';
                    $("#uploaderFiles").append(str);
                    imgOption();
                    first = false;
                    success();

                },
                error:function(e){
                    alert("操作失败!"+JSON.stringify(e));
                }
            });
        }

        var isClick = true;
        $("#showTooltips").on("click",function(){
            if(check() && isClick){
                isClick = false;
                $("#form").submit()
            }
        })

        imgOption();
    });

    function check(){
        var title = $("#title").val();
        var type = $("#furnitureTypeName").val();
        var price = $("#price").val();
        var detailInfo = $("#description").val();

        var imgs = $("#uploaderFiles").children().length
        var contact = $("#contact").val();
        var phone = $("#phone").val();
        var address = $("#address").val();
        if(emptyCheck(title, "标题不能为空！")) return false;
        if(emptyCheck(type, "类型不能为空！")) return false;
        if(emptyCheck(detailInfo, "描述不能为空！")) return false;
        if(emptyCheck(contact, "联系人不能为空！")) return false;
        if(emptyCheck(phone, "电话不能为空！")) return false;
        if(maxLengthCheck(title,50,"标题过长！")) return false;
        if(maxLengthCheck(detailInfo,300,"描述过长！请控制300字内！")) return false;
        if(maxLengthCheck(price,50,"价格不合理！")) return false;
        if(maxLengthCheck(contact,50,"联系人名称过长！")) return false;
        if(phone.length != 11){
            $.toptip("请输入11位手机号码！", 'error');
            return false;
        }
        if(imgs <= 0){
            $.toptip("请上传至少一张图片！", 'error');
            return false;
        }
        if(imgs > 5){
            $.toptip("图片最多上传5张！", 'error');
            return false;
        }

        if(maxLengthCheck(address,100,"联系地址过长！")) return false;

        return true;
    }

    //图片操作
    function imgOption(){
        $("#uploaderFiles li").on("click",function(){
            var $img = $(this);
            $.actions({
                actions: [{
                    text: "设为标题图",
                    className: "color-success",
                    onClick: function() {
                        $("#uploaderFiles li").removeClass("title")
                        $img.addClass("title")
                        $("#headImg").val($img.attr("data-imgPath"));
                    }
                },{
                    text: "删除",
                    className: "color-danger",
                    onClick: function() {
                        if($img.attr("data-imgPath") == $("#headImg").val()){
                            $("#headImg").val("")
                        }
                        $img.remove()
                    }
                }]
            });
        });
    }

    function initFnType(){
        $.ajax({
            url:"/wechat/user/recycle/fnType",
            type:"get",
            success:function(data){
                var fnType = [], selectFnType = '<%=recycle.typeId%>';
                data.forEach(function(type){
                    fnType.push({
                        title:type.name,
                        value:type.id
                    });
                    if(type.id == selectFnType){
                        $("#furnitureTypeName").val(type.name);
                    }
                });
                $("#furnitureTypeName").select({
                    title: "请选择家具分类",
                    items: fnType,
                    onChange: function() {
                        $("#furnitureType").val($("#furnitureTypeName").data("values"))
                    }
                });
            },
            error:function(e){
                alert("操作失败!"+JSON.stringify(e));
            }
        });
    }







    /*$("#description").on("input",function(){
        var desc = $(this).val();
        var len = desc.length;
        $("#wordNumber").html(len);
        if(len > 200){
            $(this).val(desc.substring(0,200))
        }
    });*/

    /*$("#buyDate").calendar({
        dateFormat: 'yyyy-mm-dd',
        value: ['2018-03-05']
    });*/
</script>
</html>