<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>文章</title>
    <!-- 引入 WeUI -->
    <%- include('../public/public_css') %>


</head>
<body>
<!-- 使用 -->
<div class="container" id="container">
    <div class="page home js_show">
        <article class="weui-article">
            <h1><%=data.title%></h1>
            <h3>创建时间：<%=data.dateCreated%></h3>
            <section>
                <%-data.content%>
            </section>
        </article>
    </div>
</div>
<%- include('../public/public_js') %>

</body>
</html>