<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat-mall-detail.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat.css">

</head>


<body>
    <header class="wechat-header">
        <a class="icon-back"><i class="fa fa-chevron-left"></i></a>
        <h1>家具详情</h1>
    </header>

    <div class="wechat-content">
        <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
            <div class="swiper-wrapper">
                <% result.fnImgs.forEach(function (img) { %>
                <div class="swiper-slide">
                    <img src="<%=img.url%>" alt="">
                </div>
                <% }) %>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>

        <div class="wechat-goods-info">
            <p class="title"><%=result.title%></p>
            <p class="price">¥<%=result.price%></p>
            <p class="attr"><span class="type">办公家具</span><span class="date"><%=result.dateUpdated%></span></p>
        </div>

        <div class="wechat-devide-title">&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;联系方式&nbsp;&nbsp;</div>
        <div class="wechat-contact-info">
            <p><span class="title">姓&nbsp;&nbsp;&nbsp;&nbsp;名</span><span class="content"><%=result.contact%></span></p>
            <div class="devide"></div>
            <p><span class="title">电&nbsp;&nbsp;&nbsp;&nbsp;话</span><span class="content"><%=result.phone%></span></p>
            <div class="devide"></div>
            <p><span class="title">地&nbsp;&nbsp;&nbsp;&nbsp;址</span><span class="content"><%=result.address%></span></p>
        </div>

        <div class="wechat-devide-title">&nbsp;&nbsp;<i class="fa fa-file-text-o"></i>&nbsp;家具描述&nbsp;&nbsp;</div>
        <div class="wechat-detail-info" style="min-height: 50px;">
            <p><%=result.detailInfo%></p>
        </div>

        <div class="bottom-height"></div>
    </div>

    <div class="wechat-foot btncolor">立即联系</div>
</body>
<%- include('../../public/public_js') %>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
<script>
    $(".swiper-container").swiper({
        autoplay:5000,
        loop:true
    })
</script>
</html>